NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_ENDPOINT=http://localhost:3000/api
NEXT_PUBLIC_CRYPTO_KEY=

SUPABASE_URL=
SUPABASE_KEY=

ALGOLIA_APP_ID=
ALGOLIA_APP_KEY=

PIN=

YOUTUBE_DOMAIN=youtube.com
YOUTUBE_API_KEY=
YOUTUBE_ENDPOINT=https://www.googleapis.com/youtube/v3/videos?part=snippet%2CcontentDetails%2Cstatistics&id=
YOUTUBE_BASE_URL=https://www.youtube.com/watch?v=

USER_AGENT=Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Build/MMB29P) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.92 Mobile Safari/537.36 (compatible; Bot/0.1; +https://pokebase.vercel.app)
